<%= "<h1>#{@movie_info["title"]}</h1><br>  #{@movie_info["studio"]} (#{@movie_info["year"]}) <em>Rating:</em> #{@movie_info["rating"]}"%>
<br>
<br><%= "<b>[#{@movie_info["genre"]}]</b>"%>
<br>
<span class = "descriptor"><%="#{@movie_info["synopsis"]}"%></span>


